<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>即使知道要见面</string>
		<key>songer</key>
		<string>Sara</string>
		<key>icon</key>
		<string></string>
		<key>bg</key>
		<string></string>
		<key>filename</key>
		<string>Sara（泰语）-Even If Knew That Must Meet.mp3</string>
		<key>lrc</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>十年</string>
		<key>songer</key>
		<string>陈奕迅</string>
		<key>icon</key>
		<string></string>
		<key>bg</key>
		<string></string>
		<key>filename</key>
		<string>陈奕迅-十年.mp3</string>
		<key>lrc</key>
		<string>十年.lrc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>为情所伤</string>
		<key>songer</key>
		<string>庄心妍</string>
		<key>icon</key>
		<string>89382494.jpg</string>
		<key>bg</key>
		<string></string>
		<key>filename</key>
		<string>庄心妍-为情所伤.mp3</string>
		<key>lrc</key>
		<string>为情所伤.lrc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>讲不出再见</string>
		<key>songer</key>
		<string>谭咏麟</string>
		<key>icon</key>
		<string></string>
		<key>bg</key>
		<string></string>
		<key>filename</key>
		<string>谭咏麟-讲不出再见.mp3</string>
		<key>lrc</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>我只在乎你</string>
		<key>songer</key>
		<string>邓丽君</string>
		<key>icon</key>
		<string></string>
		<key>bg</key>
		<string></string>
		<key>filename</key>
		<string>邓丽君-我只在乎你.mp3</string>
		<key>lrc</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>命硬</string>
		<key>songer</key>
		<string>侧田</string>
		<key>icon</key>
		<string></string>
		<key>bg</key>
		<string></string>
		<key>filename</key>
		<string>侧田-命硬.mp3</string>
		<key>lrc</key>
		<string></string>
	</dict>
</array>
</plist>
